div#playerCardActions {
    text-align: right;
    padding-top: .5em;
    margin-bottom: -1.6em;
    font-size: .9em;
    margin-right: 1.1em;
    color: midnightblue;
}

/*
div#versionInfo {
    font-size: 1em;
    color: rgb(100, 100, 100);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
*/

#startPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
}

.startPageRow {
    width: 100%;
    left: 5%;
    right: 5%;
}

.startPageRow input[type=button] {
    font-size: 1.6em;
    margin: 6px;
    width: 200px;
    max-width: 100%;
    -webkit-appearance: none;
    box-shadow: 0px 0px 20px #00000033;
}

.startPageRow2 {
    display: inline-flex;
}

.startPageRow2 input[type=button] {
    width: 50%;
}

#playerCard {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: #78b7ff0c;
    border-radius: 20px;
    box-shadow: #002a8328 0px 0px 20px 5px,
        inset #002a8328 0px 0px 50px 8px;
}

#playerCardUsrName {
    text-align: center;
    margin-left: 10px;
    color: rgb(45, 86, 149);
    font-size: 1.5em;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

#playerCardUsrAvatarParent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
}

#playerCardUsrAvatar {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border: 3px solid white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playerCardUsrAvatar img {
    height: 64px;
}

#playerCardUsrInfo {
    color: rgba(0, 0, 0, 0.35);
    font-size: 1em;
    line-height: .85em;
}

#flexCol1 {
    margin-left: 5vw;
    margin-right: 5vw;
}

#flexCol2 {
    margin-left: 5vw;
    margin-right: 5vw;
}

@media screen and (orientation: landscape)  {
    #flexCol1 {
        max-width: 45vw;
    }
    #flexCol2 {
        max-width: 35vw;
    }
    #flexCol2 {
        margin-top: -75px;
    }
}

@media screen and (min-width: 752px) {
    #flexCol1 {
        max-width: 45vw;
    }
    #flexCol2 {
        max-width: 35vw;
    }
    #flexCol2 {
        margin-top: -75px;
    }
}

@media screen and (max-width: 751px) {
    #startPage {
        margin-top: 8vh;
    }
}

@media screen and (max-height: 600px) {
    #startPage {
        margin-top: 10vh;
    }
}